# Fichiers générés par Maven
target/
pom.xml.versionsBackup
dependency-reduced-pom.xml
build/
.mvn/

# Fichiers générés par Java
*.class
*.jar
*.war
*.ear
*.log

# Fichiers générés par les IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws
.out/
.classpath
.project
.settings/
.gitattributes

# Fichiers de cache et temporaires
*.tmp
*.swp
*~
.DS_Store

# Fichiers de configuration locale
.env
